{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>{{ title }} - WALLY draw</title>
    </head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body>
        <select id="svg_list" name="svg_list" size="10"> - </select>
		<div id="svgContainer">
  			<img src="{{url_for('static', filename='bird.svg')}}" width="100px" height="100px">
		</div>
		<script src="{{url_for('static', filename='draw.js')}}"></script>
    </body>
</html>
{% endblock %}
