<head>
	<meta charset="utf-8">
 	<title>Functional Programming Game</title>
<style>
#nav {
    width: 30em;
    height: 10em;
    line-height: 0em;
    border: 3px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}
li {
    border-top: 1px solid #ccc;
}
ul ul {
    text-indent: 1em;
}
ul ul ul {
    text-indent: 2em;
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
<script type="module" src="app/static/app.js"></script>
</body>
</html>
