{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>{{ title }} - WALLY </title>
    </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body>
       
<table>
<thead>
  <tr>
    <th colspan="8">settings</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td colspan="2">space</td>
    <td rowspan="10"></td>
    <td colspan="2">movement</td>
    <td rowspan="10"></td>
    <td colspan="2">motors</td>
  </tr>
  <tr>
    <td>distance between pivots</td>
    <td><input id='x_total' type="number"></td>
    <td>speed</td>
    <td><input id='speed' type="number"></td>
    <td>pen up angle</td>
    <td><input id='pen_up_angle' type="number"></td>
  </tr>
  <tr>
    <td>length left motor wire</td>
    <td><input type="number"></td>
    <td>numlines</td>
    <td><input type="number"></td>
    <td>pen down angle</td>
    <td><input type="number"></td>
  </tr>
  <tr>
    <td>length right motor wire</td>
    <td><input type="number"></td>
    <td>smartmove</td>
    <td><input type="number"></td>
    <td> pen 1 angle</td>
    <td><input type="number"></td>
  </tr>
  <tr>
    <td>gondola width</td>
    <td><input type="number"></td>
    <td>meters per step</td>
    <td><input type="number"></td>
    <td>pen 2 angle</td>
    <td><input type="number"></td>
  </tr>
  <tr>
    <td>gondola height</td>
    <td><input type="number"></td>
    <td>smart step size</td>
    <td><input type="number"></td>
    <td>pen 3 angle</td>
    <td><input type="number"></td>
  </tr>
  <tr>
    <td>usable x start</td>
    <td><input type="number"></td>
    <td>svg pixel size</td>
    <td><input type="number"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>usable x stop</td>
    <td><input type="number"></td>
    <td>pixel size x</td>
    <td><input type="number"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>usable y start</td>
    <td><input type="number"></td>
    <td>pixel size y</td>
    <td><input type="number"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>usable y stop</td>
    <td><input type="number"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>
<button id="save_button" type="button">Save</button>
<script src="{{url_for('static', filename='settings.js')}}"></script>
    </body>
</html>
{% endblock %}
