{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>{{ title }} - WALLY settings</title>
    </head>
    <body>
       
<table>
<thead>
  <tr>
    <th colspan="8">settings</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td colspan="2">space</td>
    <td rowspan="10"></td>
    <td colspan="2">movement</td>
    <td rowspan="10"></td>
    <td colspan="2">motors</td>
  </tr>
  <tr>
    <td>distance between pivots</td>
    <td><input type="text"></td>
    <td>speed</td>
    <td><input type="text"></td>
    <td>pen up angle</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>length left motor wire</td>
    <td></td>
    <td>numlines</td>
    <td></td>
    <td>pen down angle</td>
    <td></td>
  </tr>
  <tr>
    <td>length right motor wire</td>
    <td></td>
    <td>smartmove</td>
    <td></td>
    <td> pen 1 angle</td>
    <td></td>
  </tr>
  <tr>
    <td>gondola width</td>
    <td></td>
    <td>meters per step</td>
    <td></td>
    <td>pen 2 angle</td>
    <td></td>
  </tr>
  <tr>
    <td>gondola height</td>
    <td></td>
    <td>smart step size</td>
    <td></td>
    <td>pen 3 angle</td>
    <td></td>
  </tr>
  <tr>
    <td>usable x start</td>
    <td></td>
    <td>svg pixel size</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>usable x stop</td>
    <td></td>
    <td>pixel size x</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>usable y start</td>
    <td></td>
    <td>pixel size y</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>usable y stop</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>
<button id="save_button" type="button">Save</button> 
    </body>
</html>
{% endblock %}
